<section class="container">
  <div class="exercises-section block">
    <h2 class="exercise-title">
      Exercises <span class="category-container"></span>
    </h2>

    <ul class="filter-list">
      <li class="filter-item">
        <button type="button" class="active" data-filter="muscles" disabled>
          Muscles
        </button>
      </li>
      <li class="filter-item">
        <button type="button" data-filter="body-parts">Body parts</button>
      </li>
      <li class="filter-item">
        <button type="button" data-filter="equipment">Equipment</button>
      </li>
    </ul>

    <ul class="exercise-list">
    </ul>

    <ul class="pagination"></ul>
  </div>
</section>

