<section class="container">
  <div class="exercises-section block">
    <h2 class="exercise-title">
      Exercises <span class="category-container"></span>
    </h2>

    <div class="filter-wrapper">
      <ul class="filter-list">
        <li class="filter-item">
          <button type="button" class="active" data-filter="muscles" disabled>
            Muscles
          </button>
        </li>
        <li class="filter-item">
          <button type="button" data-filter="body-parts">Body parts</button>
        </li>
        <li class="filter-item">
          <button type="button" data-filter="equipment">Equipment</button>
        </li>
      </ul>

      <form class="exercise-search-form hidden">
        <div class="search-input-wrapper">
          <label for="search"></label>
          <input
            type="text"
            class="search-input"
            name="search"
            placeholder="Search"
          />

          <button type="submit">
            <svg>
              <use href="/img/svg/sprite.svg#icon-search"></use>
            </svg>
          </button>
        </div>
      </form>
    </div>

    <ul class="exercise-list" data-type="available"></ul>

    <ul class="pagination"></ul>
  </div>
</section>
