<footer class="footer">
  <div class="container">
    <div class="footer-wrapper block">
      <div class="left-side-wrapper">
        <a href="../index.html" class="footer-logo">energy.flow</a>

        <ul class="footer-social-list">
          <li class="social-item"><a href="">FB</a></li>
          <li class="social-item"><a href="">IG</a></li>
          <li class="social-item"><a href="">YT</a></li>
        </ul>
      </div>

      <div class="right-side-wrapper">
        <h2 class="footer-title">
          Transforming your <span>body</span> shape with us
        </h2>

        <form class="footer-form">
          <label for="email" class="form-label"
            >Subscribe and learn about new exercises!</label
          >
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Email"
            class="form-input"
          />
          <button type="submit" class="form-btn">Send</button>
        </form>

        <div class="policy-wrapper">
          <p class="policy-text">Energy Flow. All rights reserved.</p>

          <ul class="policy-list">
            <li class="policy-item">
              <a href="" class="policy-link">Privacy Policy</a>
            </li>
            <li class="policy-item">
              <a href="" class="policy-link">Terms of Service</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
