<header class="header container">
  <div class="header-wrapper">
    <a href="" class="header-logo">energy.flow</a>

    <nav class="tablet">
      <ul class="header-menu">
        <li>
          <a class="header-menu-link active" href="../index.html">Home</a>
        </li>
        <li><a class="header-menu-link" href="">Favorites</a></li>
      </ul>

      <ul class="social-list header-social">
        <li class="social-item">
          <a href="" rel="nofollow noreferrer noopener" target="_blank">
            <svg class="social-icon">
              <use href="img/svg/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a href="" rel="nofollow noreferrer noopener" target="_blank">
            <svg class="social-icon">
              <use href="img/svg/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a href="" rel="nofollow noreferrer noopener" target="_blank">
            <svg class="social-icon">
              <use href="img/svg/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>

    <div class="mobile-menu hidden">
      <a href="">energy.flow</a>

      <nav>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Favorites</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
