<header class="header container">
  <div class="header-wrapper">
    <a href="index.html" class="header-logo">energy.flow</a>

    <button type="button" class="mobile-menu-btn">
      <svg class="menu-btn">
        <use href="img/svg/sprite.svg#icon-mobile-menu"></use>
      </svg>
    </button>

    <nav class="tablet header">
      <ul class="header-menu">
        <li>
          <a class="header-menu-link" href="index.html">Home</a>
        </li>
        <li>
          <a class="header-menu-link" href="favorites_page.html">Favorites</a>
        </li>
      </ul>

      <ul class="social-list header-social">
        <li class="social-item">
          <a href="" rel="nofollow noreferrer noopener" target="_blank">
            <svg class="social-icon">
              <use href="img/svg/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a href="" rel="nofollow noreferrer noopener" target="_blank">
            <svg class="social-icon">
              <use href="img/svg/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a href="" rel="nofollow noreferrer noopener" target="_blank">
            <svg class="social-icon">
              <use href="img/svg/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>

    <div class="mobile-menu hidden">
      <div class="mobile-wrapper">
        <a href="index.html" class="header-logo">energy.flow</a>

        <button type="button" class="close-btn">
          <svg class="icon-close-btn">
            <use href="img/svg/sprite.svg#icon-close"></use>
          </svg>
        </button>

        <nav>
          <ul class="mobile-nav-list">
            <li>
              <a href="index.html" class="mobile-nav-link">Home</a>
            </li>
            <li>
              <a href="favorites_page.html" class="mobile-nav-link"
                >Favorites</a
              >
            </li>
          </ul>
        </nav>

        <ul class="social-list mobile-list">
          <li class="social-item">
            <a href="" rel="nofollow noreferrer noopener" target="_blank">
              <svg class="social-icon">
                <use href="img/svg/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a href="" rel="nofollow noreferrer noopener" target="_blank">
              <svg class="social-icon">
                <use href="img/svg/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a href="" rel="nofollow noreferrer noopener" target="_blank">
              <svg class="social-icon">
                <use href="img/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
