<header class="header">
  <div class="container">
    <a href="">energy.flow</a>

    <nav class="tablet">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Favorites</a></li>
      </ul>

      <ul>
        <li>
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noreferrer nofollow noopener"
            >FB</a
          >
        </li>
        <li>
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noreferrer nofollow noopener"
            >IG</a
          >
        </li>
        <li>
          <a
            href="https://www.youtube.com/?themeRefresh=1"
            target="_blank"
            rel="noreferrer nofollow noopener"
            >YT</a
          >
        </li>
      </ul>
    </nav>

    <div class="mobile-menu">
      <a href="">energy.flow</a>

      <nav>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Favorites</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
