<section class="container">
  <div class="quote-container">
    <div class="quote-side block" id="quote">
      <h2 class="quote-title">Quote of the day</h2>

      <div class="quote-wrapper">
        <p class="quote-text"></p>
        <p class="author-name"></p>
      </div>

      <svg class="quote-icon">
        <use href="img/svg/sprite.svg#icon-man"></use>
      </svg>

      <svg class="comma-icon">
        <use href="img/svg/sprite.svg#icon-comma"></use>
      </svg>
    </div>
    <div class="image-side block"></div>
  </div>
</section>
