.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1b1b1b99;
  z-index: 999999;
  overflow-y: scroll;
  padding: 20px;
  min-width: fit-content;
  min-height: -webkit-fill-available;

  .rating,
  .exercise {
    width: 100%;
    height: 100%;
  }
}

.modal-window {
  position: relative;
  background-color: var(--bg-color);
  padding: 40px 20px;
  max-width: 335px;
  border-radius: 20px;
  margin: 0 auto;

  top: 50%;
  transform: translateY(-50%);
}

.close-modal-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  line-height: 0;

  svg {
    width: 24px;
    height: 24px;
    stroke: var(--dark);
  }
}

.modal-gif {
  width: 100%;
  height: inherit;
  mix-blend-mode: multiply;
}

.gif-wrapper {
  max-width: 295px;
  height: 258px;
  border-radius: 12px;
  background-color: #1b1b1b33;
  margin-bottom: 20px;
}

.modal-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 10px;
}

.modal-rating {
  display: flex;
  column-gap: 5px;
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 1.5;

  svg {
    width: 18px;
    height: 18px;
    fill: #eea10c;
  }
}

.stats-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px 0;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background-color: rgba(27, 27, 27, 0.2);
  }

  &::before {
    top: -10px;
  }

  &::after {
    bottom: -10px;
  }
}

.stats-item {
  display: flex;
  flex-direction: column;
  color: rgba(27, 27, 27, 0.4);
  font-size: 12px;
  line-height: 1.5;

  span {
    color: var(--dark);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
  }
}

.modal-description {
  color: rgba(27, 27, 27, 0.6);
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 40px;
}

.btns-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.favorite-btn {
  background-color: var(--accent-color);
  color: var(--bg-color);
  display: flex;
  column-gap: 8px;
  align-items: center;
  padding: 12px 82px;
  border-radius: 30px;
  font-size: 14px;
  line-height: 1.29;

  svg {
    width: 18px;
    height: 18px;
    fill: transparent;
    stroke: var(--bg-color);
  }
}

.rating-btn {
  color: var(--dark);
  font-size: 14px;
  border-radius: 30px;
  outline: 1px solid #1b1b1b;
  padding: 12px 105px;
  line-height: 1.29;
}

/*! rating window */

.rating-window {
  background-color: var(--bg-color);
  padding: 50px;
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
  height: 335px;
  max-width: 335px;
  top: 50%;
  transform: translateY(-50%);

  .close-modal-btn {
    position: absolute;
    /* top: 14px;
    right: 14px; */
  }
}

/*! _rating window */

@media screen and (min-width: 768px) {
  .modal-window {
    max-width: 716px;
    padding: 40px;
    display: flex;
    column-gap: 24px;
    margin: 0 auto;
  }

  .close-modal-btn {
    top: 16px;
    right: 16px;

    svg {
      width: 28px;
      height: 28px;
    }
  }

  .gif-wrapper {
    flex-shrink: 0;
    width: 270px;
    height: 260px;
    margin-bottom: 0;
  }

  .modal-title {
    font-size: 24px;
    line-height: 1.33;
  }

  .modal-rating {
    line-height: 1.5;
  }

  .modal-description {
    margin-bottom: 32px;
    width: 342px;
  }

  .btns-list {
    gap: 7px;
    align-items: center;
  }

  .favorite-btn {
    padding: 12px 24px;
    font-size: 16px;
    line-height: 1.5;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .rating-btn {
    padding: 12px 24px;
    font-size: 16px;
    line-height: 1.5;
  }

  .stats-list {
    gap: 16px;
    margin: 24px 0;

    &::before {
      top: -8px;
    }

    &::after {
      bottom: -8px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .modal-window {
    max-width: 732px;
    column-gap: 40px;
  }
}
