:root {
  --main-color: #e8e8e8;
  --bg-color: #f6f6f6;
  --dark: #1b1b1b;
  --gray: #1b1b1b66;
  --accent-color: #7e847f;
  --quote-clr: #f6f6f666;
}

html {
  scrollbar-gutter: stable;
}

* {
  scroll-behavior: smooth;
}

.backdrop.hidden,
.hidden {
  display: none;
}

.noScroll {
  overflow: hidden;
}

.disabled {
  pointer-events: none;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--bg-color);
  color: var(--dark);
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.block {
  border-radius: 30px;

  @media screen and (min-width: 768px) {
    border-radius: 50px;
  }
}

.container {
  width: 100%;
  min-width: 320px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px auto;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    margin: 16px auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
  }
}

.social-list a {
  display: block;
  line-height: 0;
}

.social-list {
  display: flex;
  column-gap: 12px;

  .social-item {
    padding: 8px;
    border-radius: 10px;
    border: 1px solid rgba(246, 246, 246, 0.2);
  }

  .social-icon {
    width: 28px;
    height: 28px;
  }
}

.social-icon {
  width: 20px;
  height: 20px;
  opacity: 0.8;
}

@media screen and (min-width: 1440px) {
  .fav-hero {
    display: flex;

    .container {
      padding: 0;
    }
  }
}
