:root {
  --main-color: #e8e8e8;
  --bg-color: #f6f6f6;
  --dark: #1b1b1b;
  --gray: #1b1b1b66;
  --accent-color: #7e847f;
  --quote-clr: #f6f6f666;
}

.loader {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    transform: translate(-50%, 100%);
  }
}

.loader::before {
  content: 'Loading';
  color: var(--accent-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  letter-spacing: 2px;
  display: inline-block;
  box-sizing: border-box;
  animation: floating 1s ease-out infinite alternate;
}

.loader::after {
  content: '';
  width: 100%;
  height: 10px;
  background: rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 0;
  top: 100%;
  filter: blur(4px);
  border-radius: 50%;
  box-sizing: border-box;
  animation: animloader 1s ease-out infinite alternate;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-25px);
  }
}

@keyframes animloader {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.2);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scrollbar-gutter: stable;
}

* {
  scroll-behavior: smooth;
}

.backdrop.hidden,
.hidden {
  display: none !important;
}

.noScroll {
  overflow: hidden;
}

.disabled {
  pointer-events: none;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--bg-color);
  color: var(--dark);
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.block {
  border-radius: 30px;

  @media screen and (min-width: 768px) {
    border-radius: 50px;
  }
}

.container {
  width: 100%;
  min-width: 320px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px auto;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    margin: 16px auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
  }
}

.social-list a {
  display: block;
  line-height: 0;
}

.social-list {
  display: flex;
  column-gap: 12px;

  .social-item {
    padding: 8px;
    border-radius: 10px;
    border: 1px solid rgba(246, 246, 246, 0.2);
  }

  .social-icon {
    width: 28px;
    height: 28px;
  }
}

.social-icon {
  width: 20px;
  height: 20px;
  opacity: 0.8;
}

@media screen and (min-width: 1440px) {
  .fav-hero {
    display: flex;

    .container {
      padding: 0;
    }
  }
}

.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--accent-color);
  border-radius: 50%;
  padding: 10px;
  transition: background-color linear 250ms;

  svg {
    fill: white;
    width: 14px;
    height: 14px;
  }

  &:hover,
  &:focus {
    background-color: #5f6560;
  }

  @media screen and (min-width: 768px) {
    padding: 15px;

    svg {
      fill: white;
      width: 23px;
      height: 23px;
    }
  }
}
