.exercises-section {
  background-color: var(--main-color);
  padding: 40px 20px;
}

.exercise-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.filter-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 6px;
  margin-bottom: 40px;
}

.filter-item button {
  color: #1b1b1b;
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;

  padding: 7px 14px;
  border-radius: 30px;
  background: #f6f6f6;
  border: none;
}

.filter-item .active {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

.exercise-img {
  width: 100%;
}

.exercise-item {
  border-radius: 12px;
  border: 1px solid rgba(246, 246, 246, 0.3);
  padding: 96px 0;

  background: linear-gradient(
      0deg,
      rgba(16, 16, 16, 0.7) 0%,
      rgba(16, 16, 16, 0.7) 100%
    ),
    var(--img) lightgray -16.825px 0.844px / 121.36% 108.504% no-repeat;
}

.exercise-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.exercise-subtitle {
  color: var(--bg-color);
  text-align: center;
  font-size: 20px;
  line-height: 1;
}

.exercise-name {
  text-align: center;
  color: var(--quote-clr);
  font-size: 12px;
  line-height: 1.5;
}

.pages-list {
  display: flex;
  column-gap: 8px;
  align-items: center;
  justify-content: center;
}

.pages_list-btn {
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.04em;
  color: var(--gray);

  &.active {
    border-radius: 50%;
    color: var(--dark);
    border: 1px solid var(--dark);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    .pages_list-btn {
      color: var(--dark);
    }
  }
}

@media screen and (min-width: 768px) {
  .exercise-list {
    flex-direction: row;
    gap: 14px;
    margin-bottom: 32px;
  }

  .exercise-item {
    width: calc((100% - 14px) / 2);
  }

  .exercise-subtitle {
    font-size: 24px;
  }

  .exercise-name {
    font-size: 12px;
  }

  .exercise-item {
    padding: 103px 0;
  }

  .exercises-section {
    padding: 64px 48px;
  }

  .exercise-title {
    font-size: 44px;
    line-height: 1.1;
    margin-bottom: 32px;
  }

  .filter-list {
    column-gap: 8px;
    margin-bottom: 32px;
  }

  .filter-item button {
    font-size: 16px;
    line-height: 1.5;
    padding: 10px 20px;
  }

  .exercise-item {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .exercise-list {
    gap: 40px 20px;
    margin-bottom: 32px;
  }

  .exercise-item {
    width: calc((100% - 60px) / 4);
  }
}
