.exercises-section {
  background-color: var(--main-color);
  padding: 40px 20px;
  position: relative;
}

.exercise-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.filter-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 6px;
  margin-bottom: 20px;
}

.filter-item button {
  color: #1b1b1b;
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;

  padding: 7px 14px;
  border-radius: 30px;
  background: #f6f6f6;
  border: none;
}

.filter-item .active {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

.exercise-img {
  width: 100%;
}

.exercise-item {
  border-radius: 12px;
  border: 1px solid rgba(246, 246, 246, 0.3);
  padding: 96px 0;
  cursor: pointer;
  background: linear-gradient(
      0deg,
      rgba(16, 16, 16, 0.7) 0%,
      rgba(16, 16, 16, 0.7) 100%
    ),
    var(--img) lightgray -16.825px 0.844px / 121.36% 108.504% no-repeat;
}

.exercise-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.exercise-category {
  color: rgba(27, 27, 27, 0.5);
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;

  &::before {
    content: '/';
    color: black;
    font-size: 32px;
    margin-right: 8px;
  }
}

.exercise-info {
  width: 100%;
  padding: 16px;
  background-color: #ffffff;
  border-radius: 15px;
  position: relative;
}

.startBtn {
  position: absolute;
  right: 14px;
  top: 14px;
  color: var(--dark);
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.info-label {
  color: #f6f6f6;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 8px;
  border-radius: 15px;
  background: #7e847f;
  display: inline-block;
  margin-right: 17px;
  margin-bottom: 25px;
}

.info-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px 16px;
}

.info-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &::first-letter {
    text-transform: uppercase;
  }
}

.exercise-icon {
  width: 24px;
  height: 24px;
  fill: var(--bg-color);
  border-radius: 24px;
  background: #7e847f;
  margin-right: 16px;
  flex-shrink: 0;
}

.info-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.info-ranking {
  font-size: 12px;
  line-height: 1.5;

  display: inline-flex;
  justify-content: center;
  column-gap: 5px;

  svg {
    width: 18px;
    height: 18px;

    fill: #eea10c;
  }
}

.info-item {
  color: rgba(27, 27, 27, 0.4);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.01em;

  span {
    color: var(--dark);
  }
}

.exercise-subtitle {
  color: var(--bg-color);
  text-align: center;
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
}

.exercise-name {
  text-align: center;
  color: var(--quote-clr);
  font-size: 12px;
  line-height: 1.5;
}

.pagination {
  display: flex;
  column-gap: 8px;
  align-items: center;
  justify-content: center;
}

.pages_list-btn {
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.04em;
  color: var(--gray);

  &.active {
    border-radius: 50%;
    color: var(--dark);
    border: 1px solid var(--dark);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    .pages_list-btn {
      color: var(--dark);
    }
  }
}

.exercise-arrow-icon {
  width: 16px;
  height: 16px;
  stroke: var(--dark);
}

.exercise-search-form {
  line-height: 0;
}

.search-input-wrapper {
  position: relative;

  svg {
    width: 18px;
    height: 18px;
    stroke: var(--dark);
    position: absolute;
    top: 12px;
    right: 14px;
    fill: transparent;
    stroke: var(--dark);
  }
}

.search-input {
  padding: 12px 40px 12px 14px;
  border-radius: 30px;
  background-color: var(--bg-color);
  border: none;
  outline: none;
  width: 100%;

  &::placeholder {
    color: var(--dark);
    font-size: 14px;
    line-height: 1.23;
  }
}

.unsucces-title {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.01em;
  margin-top: 124px;
  margin-bottom: 300px;

  span {
    color: var(--accent-color);
  }
}

.filter-wrapper {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .exercise-list {
    flex-direction: row;
    gap: 14px;
    margin-bottom: 32px;
  }

  .exercise-item {
    width: calc((100% - 14px) / 2);
  }

  .exercise-subtitle {
    font-size: 24px;
  }

  .exercise-name {
    font-size: 12px;
  }

  .exercise-item {
    padding: 103px 0;
  }

  .exercises-section {
    padding: 64px 48px;
  }

  .exercise-title {
    font-size: 44px;
    line-height: 1.1;
    margin-bottom: 32px;
  }

  .filter-list {
    column-gap: 8px;
    margin-bottom: 0;
  }

  .filter-item button {
    font-size: 16px;
    line-height: 1.5;
    padding: 10px 20px;
  }

  .exercise-item {
    margin-bottom: 0;
  }

  .exercise-category {
    font-size: 24px;

    &::before {
      font-size: 44px;
    }
  }

  .info-title {
    font-weight: 400;
    line-height: 1.33;
    font-size: 24px;
  }

  .info-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px 16px;
  }

  .info-wrapper {
    margin-bottom: 8px;
  }

  .exercise-info {
    width: calc((100% - 14px) / 2);
    height: 165px;
  }

  .startBtn {
    right: 16px;
    top: 16px;
  }

  .filter-wrapper {
    display: flex;
    margin-bottom: 53px;
    justify-content: space-between;
  }

  .search-input {
    width: 246px;
  }

  .unsucces-title {
    font-size: 18px;
    line-height: 1.33;
    margin-top: 169px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 553px;
    width: 536px;
  }
}

@media screen and (min-width: 1440px) {
  .exercise-list {
    gap: 40px 20px;
  }

  .exercise-item {
    width: calc((100% - 60px) / 4);
  }

  .exercise-info {
    width: calc((100% - 40px) / 3);
  }

  .info-list {
    gap: 6px 16px;
  }

  .exercise-search-form {
    flex-grow: 0;
  }

  .search-input {
    width: 273px;
  }

  .filter-wrapper {
    justify-content: space-between;
    margin-bottom: 32px;
  }

  .unsucces-title {
    width: 684px;
    font-size: 18px;
    margin-top: 185px;
    margin-bottom: 318px;
  }

  .exercises-section {
    min-height: 827px;
  }
}
