.fav-hero {
  @media screen and (max-width: 767px) {
    .container {
      margin: 0;
    }
  }

  @media screen and (max-width: 1439px) {
    padding: 0;
  }
}

.favorite-pg {
  .header-logo {
    position: static;
    top: 0;
    left: 0;
  }

  .mobile-menu-btn {
    position: static;
    top: 0;
    right: 0;
  }

  .header-wrapper {
    display: flex;
    position: static;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      padding: 20px;
    }
  }

  .image-side {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .favorite-pg {
    .header.container {
      margin-bottom: 80px;
    }

    .tablet {
      flex-grow: 1;
    }

    .header-wrapper {
      display: flex;
      position: static;
      justify-content: space-between;
    }
  }
}

@media screen and (min-width: 1440px) {
  .fav-hero {
    .container {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
