.fav-wrapper {
  background-color: var(--main-color);
  min-height: 450px;
  padding: 40px 20px;
}

.fav-title {
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.fav-text {
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  width: 247px;
}

.empty-wrapper {
  row-gap: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.fav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.info-delete {
  width: 16px;
  height: 16px;
  stroke: var(--dark);
  fill: transparent;
}

.wrapp {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  column-gap: 9px;

  button {
    line-height: 0;
  }

  .info-label {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .fav-title {
    font-size: 44px;
    line-height: 1.1;
    margin-bottom: 32px;
  }

  .fav-wrapper {
    padding: 64px 48px;
    min-height: 928px;
  }

  .empty-wrapper {
    margin-top: 208px;

    img {
      width: 115px;
    }
  }

  .fav-text {
    font-size: 18px;
    line-height: 1.33;
    width: 554px;
  }

  .fav-list {
    gap: 20px 14px;
  }
}

@media screen and (min-width: 1440px) {
  .fav-wrapper {
    padding: 64px 48px;
    min-height: 928px;
  }

  .fav-text {
    width: 554px;
  }

  .fav-wrapper {
    min-height: 687px;
  }

  .empty-wrapper {
    margin-top: 146px;
  }

  .fav-list {
    gap: 28px 20px;
  }
}
