.tablet {
  display: none;
}

.header-wrapper {
  position: absolute;
  z-index: 999;

  .header-logo {
    display: none;
  }
}

.header-logo {
  color: var(--dark);
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.02em;
}

.mobile-menu-btn {
  line-height: 0;

  .menu-btn {
    width: 32px;
    height: 16px;
    stroke: var(--dark);
  }
}

.left-side > .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
}

.mobile-menu {
  position: fixed;
  background-color: var(--bg-color);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  min-width: 320px;

  .mobile-wrapper {
    max-width: 335px;
    padding: 20px;
    background-color: var(--accent-color);
    border-radius: 30px;
    height: 100%;
    margin: 0 auto;
    position: relative;

    .header-logo {
      display: inline-block;
    }
  }

  .header-logo {
    color: var(--bg-color);
  }

  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    line-height: 0;
  }

  .icon-close-btn {
    width: 20px;
    height: 20px;
    stroke: var(--bg-color);
  }

  .mobile-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    row-gap: 16px;
  }

  .mobile-nav-link {
    color: var(--bg-color);
    line-height: 1.5;
  }

  .active {
    display: inline-block;
    padding: 6px 26px;
    background-color: #ffffff;
    border-radius: 30px;
    color: var(--dark);
  }
}

@media screen and (min-width: 768px) {
  .left-side > .header {
    display: none;
  }

  .header-wrapper {
    margin-top: 32px;
    display: flex;
    align-items: center;
    width: 728px;

    .header-logo {
      display: block;
    }
  }

  .mobile-menu {
    display: none;
  }

  .mobile-menu-btn {
    display: none;
  }

  .tablet {
    display: flex;
    column-gap: 74px;
    align-items: center;
  }

  .header-menu {
    display: flex;
    column-gap: 16px;
    align-items: center;
    border-radius: 60px;
    background: #7e847f;
    padding: 8px 16px;
  }

  .header-menu-link {
    color: var(--bg-color);
    line-height: 1.5;
    display: inline-block;

    &.active {
      padding: 6px 26px;
      color: #1b1b1b;
      border-radius: 30px;
      background: #fff;
    }
  }

  .header-logo {
    line-height: 1;
    font-size: 28px;
    margin-left: 32px;
    margin-right: 80px;
  }

  .header-social {
    .social-item {
      border: 1px solid rgba(126, 132, 127, 0.2);
    }

    .social-icon {
      fill: var(--accent-color);
    }
  }
}

@media screen and (min-width: 1440px) {
  .header-logo {
    margin-left: 48px;
    margin-right: 397px;
  }

  .tablet {
    column-gap: 398px;
  }
}
