.tablet {
  display: none;
}

.header-wrapper {
  position: relative;
  z-index: 9999;
}

.header-logo {
  color: var(--dark);
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.02em;

  position: absolute;
  top: 20px;
  left: 20px;
}

.mobile-menu-btn {
  line-height: 0;

  position: absolute;
  top: 20px;
  right: 20px;

  .menu-btn {
    width: 32px;
    height: 16px;
    stroke: var(--dark);
  }
}

.left-side {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
  }
}

.mobile-menu {
  z-index: 9999;
  position: fixed;
  background-color: var(--bg-color);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  padding: 20px;
  min-width: 320px;

  .mobile-wrapper {
    max-width: 335px;
    padding: 20px;
    background-color: var(--accent-color);
    border-radius: 30px;
    height: 100%;
    margin: 0 auto;
    position: relative;

    .header-logo {
      display: inline-block;
    }
  }

  .header-logo {
    color: var(--bg-color);
  }

  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    line-height: 0;
  }

  .icon-close-btn {
    width: 20px;
    height: 20px;
    stroke: var(--bg-color);
  }

  .mobile-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    row-gap: 16px;
  }

  .mobile-nav-link {
    color: var(--bg-color);
    line-height: 1.5;
  }

  .active {
    display: inline-block;
    padding: 6px 26px;
    background-color: #ffffff;
    border-radius: 30px;
    color: var(--dark);
  }
}

.mobile-list {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);

  svg {
    fill: var(--bg-color);
  }
}

@media screen and (min-width: 768px) {
  .header-logo {
    position: static;
    top: 0;
    left: 0;
  }

  .left-side > .header {
    display: none;
  }

  .header-wrapper {
    position: absolute;
    z-index: 999;
    display: flex;
    align-items: center;
    width: 728px;
    padding: 32px 0 0 32px;

    .header-logo {
      display: block;
    }
  }

  .mobile-menu {
    display: none;

    .active {
      padding: 0;
    }
  }

  .mobile-menu-btn {
    display: none;
  }

  .tablet {
    display: flex;
    column-gap: 74px;
    align-items: center;
  }

  .header-menu {
    padding: 8px 16px;
    display: flex;

    align-items: center;
    border-radius: 60px;
    background: #7e847f;
    justify-content: center;

    width: 211px;
    height: 52px;
  }

  .header-menu-link {
    color: var(--bg-color);
    line-height: 1.5;
    display: inline-block;
    width: 96px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      color: #1b1b1b;
      border-radius: 30px;
      background: #fff;
    }
  }

  .header-logo {
    line-height: 1;
    font-size: 28px;
    margin-right: 80px;
  }

  .header-social {
    .social-item {
      border: 1px solid rgba(126, 132, 127, 0.2);

      &:hover {
        border: 1px solid rgba(95, 101, 96, 0.2);
      }

      &:hover .social-icon {
        fill: #5f6560;
      }
    }

    .social-icon {
      fill: var(--accent-color);
    }
  }
}

@media screen and (min-width: 1440px) {
  .header-wrapper {
    padding: 24px 0 0 48px;
  }

  .header-logo {
    margin-right: 397px;
  }

  .tablet {
    column-gap: 398px;
  }
}
