.daily-info {
  background-color: var(--dark);
  padding: 40px 20px 40px 70px;
  color: rgba(246, 246, 246, 0.6);
  font-size: 14px;
  line-height: 1.29;
}

.info-title {
  color: var(--bg-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 2px;
}

.info-subtitle {
  margin-bottom: 14px;
}

.img-info {
  height: 269px;
  background-image: url(../img/info/mobile/info-mobile.png);

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    background-image: url(../img/info/mobile/info-mobile@2x.png);
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .img-info {
    height: 302px;
    background-image: url(../img/info/tablet/info-tablet.png);

    @media screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx),
      screen and (min-device-pixel-ratio: 2) {
      background-image: url(../img/info/tablet/info-tablet@2x.png);
      background-size: cover;
    }
  }

  .daily-info {
    padding: 64px 69px 64px 114px;
    font-size: 16px;
    line-height: 1.5;
  }

  .info-title {
    font-size: 24px;
    line-height: 1.33;
  }

  .info-subtitle {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 1440px) {
  .info-wrapper {
    display: flex;
  }

  .daily-info,
  .img-info {
    width: 704px;
  }

  .daily-info {
    padding: 64px 64px 64px 114px;
  }
}
