@import url(./base.css);

@import url(./header.css);
@import url(./hero.css);
@import url(./quote.css);
@import url(./exercises.css);
@import url(./daily-norma.css);
@import url(./footer.css);

@import url(./backdrop.css);
